<div class="warningbox">
	<p>{{{text}}}</p>
	<ul class="hlist">
		<li><a href="https://www.mediawiki.org/wiki/Talk:Reading/Web/PDF_Functionality">{{feedback}}</a></li>
		<li><a href="https://www.mediawiki.org/wiki/Reading/Web/PDF_Functionality">{{more}}</a></li>
	</ul>
</div>
